html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: darkgray;
}

button {
    border-radius: 10px;
    width: 8em;
    height: 3em;
    cursor:pointer;

}

.controls {
    display: flex;
    gap: 0.5em;
    margin: 0.5em;
}

#outer {
    display: flex;
    flex-direction: column;
}

.test {
    border: 5px solid black;
}

.grid {
    display: grid;
    height: 20em;
    width: 20em;
    background-color: rgb(255, 255, 255);
    
}
.container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    
}

#sliderdiv {
    margin: 0.5em;
}

.header {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: rgb(71, 143, 143);
    padding: 10px;
}

footer {
    position:absolute;
    left:0;
    bottom:0;
    text-align: center;
    width: 100%;
}